<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>거래처 관리</title>

  <th:block th:replace="~{/icon.html :: iconInclude}"></th:block>
  <style th:replace="~{/top.html :: topstyle}"></style>
  <link rel="stylesheet" href="/css/outbound.css"> <link rel="stylesheet" href="/css/customer.css"> </head>

<body>
  <div th:replace="~{/top.html :: top}"></div>

  <div class="site-Wrapper">
    <h1 style="font-size: 24px; margin-bottom: 16px;">거래처 관리</h1>
    <form id="customerSearchForm" method="get" action="#"> <div class="site-Dataset">
        <div class="header">
          <span class="material-symbols-outlined">store</span> <h4>거래처 관리</h4> </div>

        <div class="shipping-info-section">
          <h4 class="section-title">
            <span class="material-symbols-outlined">filter_alt</span> 거래처 정보 검색
          </h4>
          <div class="shipping-info-form">
            <div class="form-group">
              <label for="searchInput">통합 검색</label>
              <input type="text" id="searchInput" placeholder="거래처명, 담당자명, 연락처, 이메일 검색" />
            </div>
            </div>
        </div>

        <div class="customer-actions-tabs-wrapper">
            <div class="customer-tabs"> <span class="tab active" data-bizflag="02" onclick="switchTab(this, '02')">거래처</span>
                <span class="tab" data-bizflag="01" onclick="switchTab(this, '01')">발주처</span>
            </div>
            <div class="search-action-buttons"> <button type="button" class="btn-search" id="searchBtn">
                    <span class="material-symbols-outlined">search</span> 검색
                </button>
                <button type="button" class="btn-new" onclick="openModal(null, window.currentBizFlag)">
                    <span class="material-symbols-outlined">add</span> 신규등록
                </button>
                <button type="button" class="btn-delete" id="deleteSelectedBtn">
                    <span class="material-symbols-outlined">delete</span> 삭제
                </button>
            </div>
        </div>


        <div class="table-view-section">
          <h4 class="section-title">
            <span class="material-symbols-outlined">list_alt</span> <span id="tableTitle">거래처 목록</span> </h4>
          <div class="table-actions">
            <button type="button" onclick="downloadExcel()">
              <span class="material-symbols-outlined">table_view</span> 엑셀
            </button>
            <button type="button" onclick="printSelectedCustomerDetails()">
              <span class="material-symbols-outlined">print</span> 인쇄
            </button>
          </div>
          <div class="table-scroll-wrapper">
            <table class="grid-table" id="customerTable"> <thead>
                <tr>
                  <th><input type="checkbox" id="selectAllCheckbox"/></th>
                  <th id="customerNameHeader" onclick="order(this)" data-key="custNm">거래처명<a class="sort-arrow">↓</a></th>
                  <th data-key="presidentNm" onclick="order(this)">대표자명<a class="sort-arrow">↓</a></th> <th data-key="bizTel" onclick="order(this)">연락처<a class="sort-arrow">↓</a></th>
                  <th data-key="custEmail" onclick="order(this)">이메일<a class="sort-arrow">↓</a></th>
                </tr>
              </thead>
              <tbody id="customerTableBody">
                </tbody>
            </table>
          </div>
          <div class="pagination-wrap">
            <span class="page-info" id="paginationInfo">총 0건 1/1페이지</span>
            <div class="pagination-controls"> <button type="button" id="btn-first-page" disabled><span class="material-symbols-outlined">first_page</span></button>
              <button type="button" id="btn-prev-page" disabled><span class="material-symbols-outlined">chevron_left</span></button>
              <input type="number" id="currentPageInput" value="1" min="1" /> <button type="button" id="btn-next-page" disabled><span class="material-symbols-outlined">chevron_right</span></button>
              <button type="button" id="btn-last-page" disabled><span class="material-symbols-outlined">last_page</span></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal" id="modal-new" onclick="outsideClick(event)">
    <div class="modal-content" onclick="event.stopPropagation()"> <h3 id="modalTitleNew">신규 등록</h3> <form id="modalNewForm" class="modal-form-grid"> <div class="modal-form-group">
          <label for="newCustNm">회사명<span class="required-asterisk">*</span></label>
          <input type="text" id="newCustNm" name="custNm" placeholder="회사명을 입력해주세요" required />
        </div>
        <div class="modal-form-group">
          <label for="newPresidentNm">대표자명<span class="required-asterisk">*</span></label>
          <input type="text" id="newPresidentNm" name="presidentNm" placeholder="대표자명 입력해주세요" required />
        </div>
        <div class="modal-form-group">
          <label for="newBizNo">사업자번호<span class="required-asterisk">*</span></label>
          <input type="text" id="newBizNo" name="bizNo" placeholder="사업자번호 입력해주세요" required />
        </div>
        <div class="modal-form-group">
          <label for="newBizTel">연락처<span class="required-asterisk">*</span></label>
          <input type="text" id="newBizTel" name="bizTel" placeholder="연락처를 입력해주세요" required />
        </div>
        <div class="modal-form-group">
          <label for="newCustEmail">이메일</label>
          <input type="text" id="newCustEmail" name="custEmail" placeholder="이메일 입력해주세요" />
        </div>
        <div class="modal-form-group">
          <label for="newBizFax">Fax</label>
          <input type="text" id="newBizFax" name="bizFax" placeholder="Fax를 입력해주세요" maxlength="13"/>
        </div>
        <div class="modal-form-group">
          <label for="newBizCond">업태</label>
          <input type="text" id="newBizCond" name="bizCond" placeholder="업태를 입력해주세요" />
        </div>
        <div class="modal-form-group">
          <label for="newBizItem">종목</label>
          <input type="text" id="newBizItem" name="bizItem" placeholder="종목을 입력해주세요" />
        </div>
        <div class="modal-form-group">
          <label for="newCompEmpNm">담당자명</label>
          <input type="text" id="newCompEmpNm" name="compEmpNm" placeholder="담당자명을 입력해주세요" />
        </div>
        <div class="modal-form-group">
          <label for="newCompNo">사업장번호</label> <input type="text" id="newCompNo" name="compNo" placeholder="사업장번호를 입력해주세요"/>
        </div>
        <div class="modal-form-group" style="grid-column: span 2;">
          <label for="newBizAddr">주소</label>
          <div class="address-input-wrapper"> <input type="text" id="newBizAddr" name="bizAddr" placeholder="주소를 입력해주세요" />
            <button type="button" class="btn-address-search" onclick="DaumPostcode(this)" data-target="newBizAddr">
                <span class="material-symbols-outlined">search</span> 주소검색
            </button>
          </div>
        </div>
        
        <div class="modal-buttons"> 
          <button type="button" name="save" class="btn-save"> <span class="material-symbols-outlined">save</span> 등록
          </button>
          <button type="button" class="btn-cancel" onclick="closeModal('modal-new')">
            <span class="material-symbols-outlined">close</span> 취소
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="modal" id="modal-detail" onclick="outsideClick(event)">
    <div class="modal-content" onclick="event.stopPropagation()"> <h3 id="modalDetailTitle">상세 정보</h3> <form id="modalDetailForm" class="modal-form-stacked"> <div class="modal-tabs"> <button type="button" class="tab-button active" onclick="switchModalTab('infoTab')">기본 정보</button>
          <button type="button" class="tab-button" onclick="switchModalTab('extraTab')">품목 정보</button> </div>

        <div id="infoTab" class="tab-content active">
          <div class="modal-form-group">
            <label for="detailCustNm">거래처명<span class="required-asterisk">*</span></label>
            <input type="text" id="detailCustNm" name="custNm" required/>
          </div>
          <div class="modal-form-group">
            <label for="detailPresidentNm">대표자명<span class="required-asterisk">*</span></label>
            <input type="text" id="detailPresidentNm" name="presidentNm" required/>
          </div>
          <div class="form-group-inline"> <div class="modal-form-group">
                <label for="detailBizNo">사업자번호<span class="required-asterisk">*</span></label>
                <input type="text" id="detailBizNo" name="bizNo" required/>
            </div>
            <div class="modal-form-group">
                <label for="detailBizTel">연락처<span class="required-asterisk">*</span></label>
                <input type="text" id="detailBizTel" name="bizTel" required/>
            </div>
          </div>
          <div class="form-group-inline"> <div class="modal-form-group">
                <label for="detailCustEmail">이메일</label>
                <input type="text" id="detailCustEmail" name="custEmail" />
            </div>
            <div class="modal-form-group">
                <label for="detailBizFax">팩스번호</label>
                <input type="text" id="detailBizFax" name="bizFax" />
            </div>
          </div>
          <div class="form-group-inline"> <div class="modal-form-group">
                <label for="detailBizCond">업태</label>
                <input type="text" id="detailBizCond" name="bizCond" />
            </div>
            <div class="modal-form-group">
                <label for="detailBizItem">업종</label> <input type="text" id="detailBizItem" name="bizItem" />
            </div>
          </div>
          <div class="form-group-inline"> <div class="modal-form-group">
                <label for="detailCompEmpNm">담당자명</label> 
                <input type="text" id="detailCompEmpNm" name="compEmpNm" />
              </div>
              <div class="modal-form-group">
                <label for="detailCompNo">사업장번호</label> <input type="text" id="detailCompNo" name="compNo" />
              </div>
          </div>
          <div class="modal-form-group">
             <label for="detailBizAddr">주소</label>
             <div class="address-input-wrapper">
                <input type="text" id="detailBizAddr" name="bizAddr" />
                <button type="button" class="btn-address-search" onclick="DaumPostcode(this)" data-target="detailBizAddr">
                    <span class="material-symbols-outlined">search</span> 주소검색
                </button>
            </div>
          </div>
        </div>

        <div id="extraTab" class="tab-content">
            <h4 class="section-title sub-section-title">등록된 품목</h4> <div class="table-scroll-wrapper modal-table-maxheight"> <table class="grid-table item-table-in-modal"> 
                <thead>
                    <tr>
                    <th id="modalItemNameHeader" data-item-sort-by="itemNm">품목명<a class="sort-arrow">↓</a></th> <th data-item-sort-by="itemCd">품목코드<a class="sort-arrow">↓</a></th>
                    </tr>
                </thead>
                <tbody id="itemTableBody">
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-buttons">
          <button type="button" name="edit" class="btn-edit"> <span class="material-symbols-outlined">edit</span> 수정
          </button>
          <button type="button" class="btn-cancel" onclick="closeModal('modal-detail')">
            <span class="material-symbols-outlined">close</span> 취소
          </button>
        </div>
      </form>
    </div>
  </div>
  
  <style>.required-asterisk { color: red; margin-left: 2px; font-weight: bold; }</style> <script src="/js/top.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/kakaoApi.js"></script> <script src="/js/customer.js"></script>
</body>
</html>