<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.d_erp.warehouse_mapper">

<!-- TB_WHMST 테이블 전체 조회 -->
<select id="selectAllWarehouse" resultType="kr.co.d_erp.dtos.Warehouse">
select * from TB_WHMST order by WH_IDX desc
</select>

</mapper>
<!-- 
[
Warehouse(
WH_IDX=9, WH_USER_IDX=null, WH_CD=WH00000003, WH_NM=반품 처리 창고, REMARK=고객 반품 상품 보관 및 처리 창고, WH_TYPE1=N, WH_TYPE2=N, WH_TYPE3=Y, USE_FLAG=Y, WH_LOCATION=물류센터 반품 구역), 
Warehouse(
WH_IDX=8, WH_USER_IDX=1, WH_CD=WH00000002, WH_NM=물류센터 제품 창고, REMARK=완제품 출하를 위한 물류센터 창고, WH_TYPE1=N, WH_TYPE2=Y, WH_TYPE3=N, USE_FLAG=Y, WH_LOCATION=경기도 물류센터 내), 
Warehouse(
WH_IDX=7, WH_USER_IDX=1, WH_CD=WH00000001, WH_NM=본사 자재 창고, REMARK=본사에 위치한 주요 자재 보관 창고, WH_TYPE1=Y, WH_TYPE2=N, WH_TYPE3=N, USE_FLAG=Y, WH_LOCATION=서울시 본사 건물 지하 1층)
]
 -->
